#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the particles stay behind content */
}

/* HERO SECTION */
.hero-section {
  height: 75vh;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.socials a {
  color: white;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #007bff;  /* Example hover color */
}

.socials svg {
  width: 2em;  /* Adjust size if needed */
  height: 2em;
}


/* SKILLS SECTION */
.skills-section {
  background-color: #4e606e;
  color: white;
}

.skills-section h2 {
  color: #121212;
  font-weight: bold;
}

.skill-item {
  padding: 15px;
}

.skill-box {
  background-color: #0000003d; /* Dark box color */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-box:hover {
  transform: translateY(-10px); /* Lift effect on hover */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.53); /* Stronger shadow on hover */
}

.skill-icon {
  width: 48px; /* Adjust the size to match your preference */
  height: 48px;
}

.skill-box p {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}
